body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0077cc;
  color: Blue;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
}

main {
  padding: 40px;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}
